NOVA_ENV=production
NOVA_HUB_VERSION=0.1.0
NOVA_PROTOCOL_VERSION=1
NOVA_HUB_HOST=nova-hub.local
NOVA_HUB_PORT=443
NOVA_HOME_TIMEZONE=Asia/Kolkata
NOVA_LAN_ADDRESS=192.168.29.225
RESTIC_REPOSITORY=s3:s3.us-west-004.backblazeb2.com/nova-hub-backups
RESTIC_PASSWORD_FILE=/etc/nova-hub/restic-password
AWS_ACCESS_KEY_ID=replace-with-backblaze-key-id
AWS_SECRET_ACCESS_KEY=replace-with-backblaze-application-key
