<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">NOVA Hub on %h</name>
  <service>
    <type>_nova-hub._tcp</type>
    <port>443</port>
    <txt-record>protocol=1</txt-record>
    <txt-record>tls=internal-ca</txt-record>
  </service>
</service-group>
